<h1 class='new-recipe-label'>Create a new recipe!</h1>
<div class='ui segment'>
  <h3>Create a new recipe in 4 easy steps:</h3>
  <ol>
    <li>Provide details</li>
    <li>Add ingredients</li>
    <li>Add directions</li>
    <li>Review and submit</li>
  </ol>
</div>

<div class="ui horizontal icon divider">
  <i class="circular food icon"></i>
</div>

<h2 class='new-recipe-label'>STEP 1: Details</h2>
<form name='form' class='ui form segment' novalidate>
  <table class='recipe-input'>
    <tr>
      <td>Recipe name:</td>
      <td><input type='text' ng-model='recipe.name' required></td>
    </tr>
    <tr>
      <td>Prep time (in minutes):</td>
      <td><input type='text' ng-model='recipe.prep_time'></td>
    </tr>
    <tr>
      <td>Inactive time (in minutes):</td>
      <td><input type='text' ng-model='recipe.inactive_time'></td>
    </tr>
    <tr>
      <td>Description:</i></td>
      <td><input type='text' ng-model='recipe.blurb' required></td>
      <td><i class="lightbulb filter info icon" data-content="Add a short description of your recipe! e.g. 'My grandma's favorite recipe, these cookies are ooey-gooey good!'"></td>
    </tr>
  </table>
</form>


<div class="ui horizontal icon divider">
  <i class="circular food icon"></i>
</div>

<h2 class='new-recipe-label'>STEP 2: Ingredients</h2>

<div class='two column stackable ui grid'>
  <div class='column'>
    <div class='ui segment'>
      Search for an Ingredient: <input ng-model="query"></input><i class="small info filter icon" data-html="<h4>Why do I have to pick from a list?</h4><div>Here at Epicookbook, we put a lot of value in keeping our information reliable. We think that you should know what goes into your food. We use this controlled ingredient list to help keep our information consistent and reliable, so you can eat without worrying about anything but how it tastes.</div>"></i><br>
      <button ng-click='newIngredient()' ng-show='!creatingIngredient'>Add a new ingredient</button><i class="small attention icon" data-html="<div>Please only create an ingredient when you absolutely cannot find the ingredient you are looking for!</div>"></i>
      <button ng-click='newIngredient()' ng-show='creatingIngredient'>Hide new ingredient form</button>

      <!-- Begin the new ingredient section -->
      <div class='ui form' ng-show='creatingIngredient'><br>
        <input type='text' ng-model='newIngredientName' placeholder='Name your ingredient!' class='ui segment'></input> {{newIngredientName}}<br><br>
        What is your ingredient made out of?: <input ng-model="componentQuery" placeholder='Search components'></input><i class="small info filter icon" data-html="<h4>What is a component?</h4><div>Components are the basic pieces ingredients are made out of. They're how we determine whether an ingredient is allergy-friendly, vegetarian, etc.</div><br><div>For example, brown sugar (the ingredient) is made out of sugar and molasses (the components)</div>"></i><br><br>

        <!-- Begins new component section -->
        <small ng-show='!creatingComponent'>I don't see what I need! <button ng-click='newComponent()' ng-show='!creatingComponent'>Add a new component</button><i class="small attention icon" data-html="<div>Please only create a component when you absolutely cannot find the component you are looking for!</div>"></i><br>
        <button ng-click='newComponent()' ng-show='creatingComponent'>Hide new component form</button></small>

        <form novalidate ng-show='creatingComponent'>
          <input type='textarea' ng-model='theNewComponent'></input>
          <button type='submit' ng-click='createComponent(theNewComponent)'>Create component!</button>
        </form>

        <!-- Begin new component section -->

        <div class='two column stackable ui grid'>
          <div class='column'>
            <ul class='ui segment'>
              <li ng-repeat='component in components | filter: componentQuery'>
                <input type='checkbox' name='component.name' ng-click='addComponent(component)'/>
                <label>{{component.name}}</label>
              </li>
            </ul>
          </div>

          <div class='column'>
            <div class='ui segment'>
              <div ng-show='newIngredients.length == 0'> Select some components to get started!</div>

              <ul ng-repeat='component in newIngredients'>
                <li>{{component.name}}</li>
              </ul>
            </div>

            <div class='ui segment'>
              <button ng-click='createIngredient(newIngredients, newIngredientName)'>Create!</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end new ingredient section -->

      <div class='ui segment'>
        <div class='two column stackable ui grid'>
          <ul class='column'>
            <li ng-repeat='ingredient in ingredients1 | filter:query'>
              <input type='checkbox' name='ingredient.name' ng-click='addIngredient(ingredient)'/>
              <span ng-click='show(ingredient)'>
                <label>{{ingredient.name}}<i class="expand icon" ng-show='!ingredient.notHidden'></i><i class="collapse icon" ng-show='ingredient.notHidden'></i></label>
                <ul ng-show='ingredient.notHidden'>
                  <li ng-repeat='component in ingredient.components'>
                    {{component.name}}
                  </li>
                </ul>
              </span>
            </li>
          </ul>
          <ul class='column'>
            <li ng-repeat='ingredient in ingredients2 | filter:query'>
              <input type='checkbox' name='ingredient.name' ng-click='addIngredient(ingredient)'/>
              <span ng-click='show(ingredient)'>
                <label>{{ingredient.name}}<i class="expand icon" ng-show='!ingredient.notHidden'></i><i class="collapse icon" ng-show='ingredient.notHidden'></i> </label>
                <ul ng-show='ingredient.notHidden'>
                  <li ng-repeat='component in ingredient.components'>
                    {{component.name}}
                  </li>
                </ul>
              </span>
            </li>
          </ul>

          <!-- this is only visible when the user clicks on the ingredient -->
          <ul ng-repeat='component in ingredient.components'>
            <li ng-show='ingredient.notHidden'>{{component.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='column'>
    <form novalidate class='ui segment'>
      <h3>Ingredients</h3>

      <!-- This text is only visible when there are no ingredients selected -->
      <div ng-show='recipeIngredients.length == 0'> Select some ingredients to get started!</div>

      <ul ng-repeat='ingredient in recipeIngredients'>
        <li><input type='number' ng-model='ingredient.quantity' placeholder='amount'> <input type='text' ng-model='ingredient.unit' placeholder='units'> {{ingredient.name}}</li>
      </ul>
    </form>
  </div>
</div>

<div class="ui horizontal icon divider">
  <i class="circular food icon"></i>
</div>

<h2 class='new-recipe-label'>STEP 3: Directions</h2>

<div class='two column stackable ui grid'>
  <div class='column'>
    <!-- writing new steps -->
    <div class='ui form segment'>
      <input type='text' placeholder='Add a step!' ng-model='step.content' value='step'/>
      <button ng-show='step.content.length > 0' ng-click='addStep(step)'><i class='add icon'></i>Add a step!</button>
    </div>
  </div>

  <!-- step display -->
  <div class='column'>
    <div class='ui segment'>
      <h3>Directions:</h3>
      <div ng-show='!steps.length'>You haven't added any steps yet! Don't forget to click on "add step" after you write a step.</div>
      <ol ng-show='steps.length > 0'>
      <!-- needs to be in a separate div or every number is 1 -->
        <div ng-repeat='step in steps' ng-model='recipe.steps'>
          <li>{{step.content}}</li>
        </div>
      </ol>
    </div>
  </div>
</div>

<div class="ui horizontal icon divider">
  <i class="circular food icon"></i>
</div>

<h2 class='new-recipe-label'>STEP 4: Review & Submit</h2>

<div class='ui segment'>
  <h2>{{recipe.name}}</h2>
  {{recipe.blurb}}<br>
  Prep time: {{recipe.prep_time}}<br>
  Inactive time: {{recipe.inactive_time}}<br>
  Ingredients:
  <ul ng-repeat='ingredient in recipeIngredients'>
    <li>{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}</li>
  </ul>
  Directions:
  <ol>
  <!-- needs to be in a separate div or every number is 1 -->
    <div ng-repeat='step in steps' ng-model='recipe.steps'>
      <li>{{step.content}}</li>
    </div>
  </ol>
</div>

<div class="ui horizontal icon divider">
  <i class="circular food icon"></i>
</div>

<div class='ui segment'>
  <div class='validations'>
    <div ng-show='form.$invalid'>* A recipe name and description are required</div>
    <div ng-show='recipeIngredients.length < 1'>* The recipe must include ingredients</div>
    <div ng-show='steps.length < 1'>* The recipe must include steps</div>
  </div>
  <button ng-disabled='form.$invalid || steps.length < 1 || recipeIngredients.length < 1' ng-click='createRecipe(recipe, recipeIngredients, steps, user.user_id)'>Submit</button>
</div>
<br><br>