<div class='recipe-show'>
  <h2 class='ui segment'>{{recipe.name}}</h2>
  <h3 ng-bind-html-unsafe='verified' ng-style='verifiedStyle'></h3>
  <div class='ui segment'>
    <div>{{recipe.blurb}}</div><br>
    <div>
      Prep time: {{recipe.prep_time}} minutes<br>
      Inactive time: {{recipe.inactive_time}} minutes
    </div>

    <h3>Ingredients</h3>
    <ul ng-repeat='ingredient in ingredients'>
      <li ng-click='show(ingredient)'>{{ingredientStats(ingredient)}} {{ingredient.ingredient.name}} <i class="expand icon" ng-show='!ingredient.notHidden'></i><i class="collapse icon" ng-show='ingredient.notHidden'></i></li>
      <!-- this is only visible when you click on the ingredient -->
      <ul ng-repeat='component in ingredientComponents(ingredient)'>
        <li ng-show='ingredient.notHidden'>{{component}}</li>
      </ul>
    </ul>

    <h3>Directions:</h3>
    <ol>
      <div ng-repeat='step in steps'>
        <li>{{step.content}}</li>
      </div>
    </ol>
  </div>
</div>