{{recipe}}<br><br><br>
some ingredients: 
{{ingredients}}

<h2>{{recipe.name}}</h2>
<h3 ng-bind-html-unsafe='verified' ng-style='verifiedStyle'></h3>
<div class='two column stackable ui grid'>
  <div class='column'>
    <div class='ui segment'>Created by user number {{recipe.user_id}}</div>
    <div class='ui segment'>{{recipe.blurb}}</div>
  </div>

  <div class='column'>
    <div class='ui segment'><img src={{recipe.image.url}}></img></div>
    <div class='ui segment'>
      Prep time: {{recipe.prep_time}} minutes<br>
      Inactive time: {{recipe.inactive_time}} minutes
    </div>
  </div>
</div>