<h2>Create a new filter!</h2>
<div class='two column stackable ui grid'>
  <div class='column'>
    <div class='ui segment'> 
      Name your filter: <input ng-model='filter.name' placeholder="e.g. 'Jill' or 'paleo'">
    </div>
    <div class='ui segment'>Search for an Ingredient: <input ng-model="query"></div>

    <ul class='ui segment'>
      <div>Add it to your filter:</div><br>
      <li class='component-list' ng-repeat='component in components.sort() | filter:query'>
        <input type='checkbox' name='component.name' ng-click='addComponent(component)'/>
        <label>{{component.name}}<i class="dropdown icon"></i></label>
      </li>
    </ul>
  </div>


  <form class='column'>
    <div class='ui segment'>
      <h3>{{filter.name}}</h3>

      <!-- This text is only visible when there are no components selected -->
      <div ng-show='newFilter.length == 0'> Select some components to get started!</div>

      <ul ng-repeat='component in newFilter'>
        <li>{{component.name}}</li>
      </ul>
      <button ng-show='newFilter.length > 0' ng-click='createFilter(filter.name, newFilter)'>Create your filter!</button>
    </div>
  </form>
</div>