<h2 class='ui segment'>We think about your food (so you don't have to).</h2>
<div class='stackable ui grid'>
  <div class='twelve wide column'>
    <img src='/images/kneading_dough.jpg' class='ui segment' id='home-kneading-img'>
  </div>
  <div class='four wide column'>
    <div class='ui segment'>
      Epicookbook is a cookbook app for busy people who care about what's in their food. It provides completely reliable recipe-searching and meal-planning services based on what you want, AND what you don't. Don't like tomatoes? Great! We won't show you any recipes with tomatoes in them. Don't know what a vegan eats? Epicookbook does. Are you having a hard time finding a recipe that is completely, 100% gluten-free? Let Epicookbook help you. We're bringing reliability and ease to the world of modern eating.
    </div>
  </div>
</div>