/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  width: 80%;
  background-color: #e2DA99;
  margin: auto;
  font-family: 'Radley', serif;
}

.content{
  width: 100%;
  margin: auto;
}

.header img{
  width: 100%;
}

/* Recipe New */
.ingredient-list li{
  list-style-type: none;
}

ul li{
  list-style-type: none;
}

#home-kneading-img{
  width: 100%;
}

/* new filter */
.filter-search-bar{
  text-align: center;
}

.filter-header{
  text-align: center;
}

.filter-contents{
  margin: auto;
}
/* end new filter */

/* recipe index */
.recipe-list{
  width: 100%;
  padding-left: 0;
}

.recipe-list li a{
  color: black;
  text-decoration: none;
  width: 100%;
}